body, html {
    height: 100%;
    margin: 0;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-family: "aglet-sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    background: #bfbec5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0; /* Adjusted for top alignment */
    left: 0; /* Ensure it starts from the left */
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    align-items: center; /* Align items vertically */
}

.knot-logo {
    background-image: url('assets/Tangle-dalle-icon.png'); 
    background-size: cover;
    width: 50px; /* Adjusted for a standard home icon size */
    height: 50px; /* Adjusted for a standard home icon size */
    margin-left: 20px; /* Ensure some space from the left edge */
    position: absolute; /* Position it absolutely within the header */
    left: 0; /* Align to the left corner */
}

.main-title {
    max-width: 600px; 
    position: relative;
    display: inline-block;
}

.tangle {
    font-size: calc(8vw + 8vh); /* Increased size */
    font-family: "rift-soft", sans-serif;
    position: relative;
    margin: 0;
    text-align: left; /* Left-aligned */
}

.catch-phrase, .subtitle {
    font-size: 1.2em;
    font-family: "aglet-mono", monospace;
    margin-top: 20px;
    display: block;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    .tangle {
        font-size: calc(12vw + 4vh); /* Adjust font size for smaller screens */
    }

    .header, .main-title {
        flex-direction: column;
        text-align: center;
    }

    .knot-logo {
        margin: 0 auto; /* Center logo on smaller screens */
        position: static; /* Adjust position for mobile */
    }
}
